In [1]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('Exercise\\spam.csv')
df.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [3]:
df["Category"].unique()

array(['ham', 'spam'], dtype=object)

In [4]:
df.Category=df['Category'].apply(lambda x: 1 if x=='spam' else 0)

In [5]:
df.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
vectorizer = CountVectorizer()
  
vectorizer.fit(df['Message'])

CountVectorizer()

In [8]:
vector = vectorizer.transform(df['Message'].values)

In [9]:
vector.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [10]:
X_train, X_test, y_train, y_test=train_test_split(vector,df['Category'],test_size=0.2)

In [11]:
model=MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [12]:
model.score(X_test,y_test)

0.9730941704035875

In [13]:
predvar=vectorizer.transform(['You win a price of 1000000'])

In [14]:
model.predict(predvar)

array([1], dtype=int64)

In [15]:
df.head(20)

    Category                                            Message
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
5          1  FreeMsg Hey there darling it's been 3 week's n...
6          0  Even my brother is not like to speak with me. ...
7          0  As per your request 'Melle Melle (Oru Minnamin...
8          1  WINNER!! As a valued network customer you have...
9          1  Had your mobile 11 months or more? U R entitle...
10         0  I'm gonna be home soon and i don't want to tal...
11         1  SIX chances to win CASH! From 100 to 20,000 po...
12         1  URGENT! You have won a 1 week FREE membership ...
13         0  I've been searching for the right words to tha...
14         0                I HAVE A DATE ON SUNDAY WITH WILL!!
15         1  XXXMobileMovieClub: To use your credit, click ...
16         0                         Oh k...i'm watching here:)
17         0  Eh u remember how 2 spell his name... Yes i di...
18         0  Fine if thats the way u feel. Thats the way ...
19         1  England v Macedonia - dont miss the goals/team...